  body{
                margin: 0%;
                padding: 0%;
            }
            .c1{
                background-color:rgb(184, 184, 244);
                width: 100vw;
                height: 50vh;
            }
            .c11{
                position: relative;
                border: 1px solid rgb(197, 197, 249) ;
                background-color: rgb(197, 197, 249);
                cursor: pointer;
            }
            .s1{
                background-color: white;
                width: 100vw;
                height: 5vh;
            }