body{
    margin: 0%;
    padding: 0%;
}
.cab1{
    background: url(Taxi-Service-in-India-1.webp) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(13, 32, 32);
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 8px;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.cab2{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.cab2 h1{
    color: rgb(242, 199, 199);
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1px rgb(249, 204, 204);
    color: transparent;
    background-image: linear-gradient(rgb(249,204, 204),rgb(249,204, 204));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 3s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}