body{
        margin: 0%;
        padding: 0%;
    }
    .cab3{
        background: url(taxi-booking-services.jpg);
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .alert-danger{
        color: red;
    }
    .tab2{
            list-style-type: none;
    }
    .tab2 a{
            color: rgb(16, 10, 10);
            text-decoration: none;
    }

